# Xcode
.DS_Store
*.xcuserstate
xcuserdata/
*.xcscmblueprint
*.xccheckout
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
build/
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods
Pods/

# Xcode Automatic Scheme
*.xcscheme
xcschemes/

# User-specific files
*.xcuserdata

# Release artifacts
release/

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes
